// grid property
%grid-property {
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}



// make all-size grid (default options)
@each $item, $grid-type in $grid-type-list {
    @for $i from 1 through $grid-columns {
        .#{$grid-name}-#{$item}-#{$i} { @extend %grid-property; }
    }
}


// make grid function
@mixin make-grid($item){
    @for $i from 1 through $grid-columns {
        .#{$grid-name}-#{$item}-#{$i} {
            max-width: (100% / $grid-columns) * $i;
            flex:0 0 (100% / $grid-columns) * $i;
        }
    }
}


// make scren-size grid
@each $item, $screen-size in $grid-type-list {
    @if ($item!="xs") {
        @media (min-width: $screen-size) {
            @include make-grid($item);
        }
    }
    @else{
        @include make-grid($item);
    }
}




// no media queries
@for $i from 1 through $grid-columns {
    .#{$grid-name}-#{$i} {
        max-width: (100% / $grid-columns) * $i;
        flex:0 0 (100% / $grid-columns) * $i;
    }
}


// formulation grid column
@for $i from 1 through $grid-columns{
    .#{$grid-name}c-#{$i} {
        .fg{ 
            @media(min-width: $screen-xs){
                max-width: 100%;
                flex:0 0 100%;
            }
            @media(min-width: $screen-sm){
                max-width: (100% / $i);
                flex:0 0 (100% / $i);
            }
            
            @extend %grid-property;
        }
    }
}













