// flex grid variable

$grid-name: "flex-grid";
$grid-container-name: "flex-container";

$grid-columns:               12 !default;
$grid-gutter-width:          20px !default;

$screen-xs:                  424px !default;
$screen-sm:                  768px !default;
$screen-md:                  1024px !default;
$screen-lg:                  1279px !default;
$screen-xl:                  1366px !default;



$flex-container-list: (
    //flex-container
    xs: 540px,
    sm: 720px,
    md: 960px,
    lg: 1140px,
    xl: 1366px
);


