
.flex-container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
    @media(min-width: $screen-sm)
    {
        width: 90%;
    }
}

// static wrapper
.flex-row {
    margin-left: ceil(($grid-gutter-width / -2));
    margin-right: floor(($grid-gutter-width / -2));
    position: relative;
}

// float wrapper
.flex-row.float{
    [class*="#{$grid-name}-"]{
        float: left;
    }
    @include clearfix();
    
}